*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.calc{
    width: 400px;
    background-color: black;
    color: white;
    border: 5px solid rgb(235, 16, 188); 
}
.screen{
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}
.calc-button{
    background-color:#d8d9db;
    color: black;
    height: 100px;
    width: 24.4%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}
.calc-button:hover{
    background-color: green;
}
.calc-button:active{
    background-color: red;
}
.double{
    width: 49.6%;
}
.triple{
    width: 74.7%;
}
.calc-button:last-child{
    background-color: #df974c;
    color: white;
}
.calc-button:last-child:hover{
    background-color: yellow;
}
.calc-button:last-child:active{
    background-color: blueviolet;
}
.calc-button-row{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
    /* width: 100%; */
}
.calc-button-row:last-child{
    padding-bottom: 0;
}